<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title></title>
</head>
<body>
    <br>
    <br>
    
    <h1>Hello World! <br><br> </h1>
    
    <h2> My name is {{ wm }}<br><br>
        POC: Proof of concept <br>
        <br> This is a POC of Django REST API 
    </h2>

    <br><br>
    <br><br>
    <br><br>
    <br><br>
    
    
</body>
</html>