<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title></title>
</head>
<body>
    <br>
    <br>

    <h1>&nbsp;&nbsp;&nbsp;Hello World! <br><br> </h1>
    
    <h2>&nbsp;&nbsp;&nbsp;My name is {{ wm }}<br><br>
        &nbsp;&nbsp;&nbsp;POC: Proof of concept <br>
        <br> &nbsp;&nbsp;&nbsp;
        {{ desc }}
        <br><br> &nbsp;&nbsp;&nbsp; It is about building Powerfull API's 
    </h2>
    <br>
    <h1>&nbsp;&nbsp;&nbsp;
        Http verb: 
            <strong style="color: orange;">
                [ {{ verb }} ]
            </strong>
    </h1>

    <br><br>
    <br><br>
    <br><br>
    <br><br>
    
</body>
</html>